footer{
    border-top: 1px solid $primary-color;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;

    @include md{
        flex-direction: row;
        height: 200px;
    }
    height: 400px;
    
    div{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
        @include md{
            margin: 0;
        }
    }
    .socials{
        width: 15%;
        
        .social-anchor{
            font-size: 2rem;
            color: $primary-color;
            transition: all 1s ease-in-out;
            &:hover{
                color: $secondary-color;
                transform: scale(1.1);
            }
        }
    }
    .location{
        margin-top: 20px;
        width: 65%;
        flex-direction: column;
        p{
            margin: 0.5em 0;
        }
        h6{
            font-family: $primary-font;
            font-size: 1em;
            margin: 1em 0;
        }
    }
    .order{
        width: 80%;
        button{
            border: none;
            width: 80%;
            padding: 20px;
            background-color: $primary-color;
            color: $secondary-color;
            border-radius: 10px;
            transition: all 0.8s ease-in-out;
            &:hover{
                border: 1px solid $secondary-color;
                color: $secondary-color;
                background-color: transparent;
            }
        }
        @include md{
            width: 20%;
        }
        @include lg{
            width: 15%;
        }
    }
}