.header{
    display:grid;
    grid-template-columns: 15% 70% 15%;
    width: 100vw;
    height: 100px;
    max-height: 12vh;
    grid-template-areas: "a b c";
    border-bottom: 1px solid $primary-color;
    z-index: 10;
    position: fixed;
    top: 0;
    z-index: 10;
    &-logo{
        grid-area: b;
        justify-self: center;
        align-self: center;

        img{
            width: 200px;
            @include md{
                width: 300px;
            }
        }
    }
    &-toggler{
        grid-area: c;
        justify-self: end;
        align-self: center;
        @include md{
            justify-self: center;
        }
    }
    &-nav{
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: $yellow-color;
        z-index: 0;
        top:0;
        opacity:0;
        display: none;
        nav{
            width: 100%;

            display: flex;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            z-index: 4;

        }
        &-links{
            height: calc(75vh - 100px);
            width: 100%;
            border-bottom: 1px solid $primary-color;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            ul{
                height: 100%;
                width: 90%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-direction: column;
                list-style: none;
                margin: 0;
                padding: 0;
                li{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    span,a{
                        cursor: pointer;
                        width: 100%;
                        text-decoration: none;
                        color: $primary-color;
                        font-family: $primary-font;
                        transition: all 1s ease-in-out;
                        font-size: 1.5rem;
                        text-align: center;
                        
                        &:hover{
                            color: $secondary-color;
                        }
                        @include md{
                            font-size: 3rem;
                        }
                    }
                }
                
                @include md{
                    width: 60%
                    
                }
            }
            @include md{
                height: calc(85% - 100px);
            }
        }
        &-socials{
            height: 15%;
            width: 70%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            a{
                color: $primary-color;
                font-size: 1.8rem;
                @include md{
                    font-size: 2.5rem;
                }
                transition: all 1s ease-in-out;
                &:hover{
                    color: $secondary-color;
                }
            }
        }
    }
}
