.menu-page-wrapper{
    opacity: 0;
    display: flex;   
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    width:100%;
    transition: all 0.5s ease-in;
    color: $secondary-color;
    .menu-section{
        width:100%;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:space-evenly;
        border-bottom: 1px solid $secondary-color;
        padding: 80px 0;

        @include lg{
            padding: 100px 0;
        }
        &__content{
            width: 95%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;

            @include md{
                width: 80%;
            }
            @include lg{
                width: 70%;
            }
            @include xl{
                width: 60%;
            }
            
            &-title{
                width: 100%;
                text-align: center;
                border-bottom: 1px solid $secondary-color;
                h2{
                    font-size: 1.5rem;
                    border-bottom: 1px solid $secondary-color;
                    margin: 0;
                    padding: 1.4rem 0;
                    @include md{
                        font-size: 1.8rem;
                    }
                    @include lg{
                        font-size: 2.2rem;
                    }
                }
                img{
                    padding: 30px 0;
                    height: 40vh;
                    width: 70%;
                    object-fit: cover;
                    @include md{
                        width: 50%;
                        height: 50vh;
                    }
                }
            }
            &-elements{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-direction: column;
                .items{
                    width: 100%;
                }
                .heading, .menu-item{
                    width: 100%;
                    display: grid;
                    grid-template-areas: "a b";
                    grid-template-rows: 1fr;
                    grid-template-columns: 75% 25%;
                    gap: 10px;
                    // @include md{
                        
                    // }
                    
                }

                .menu-item{
                    border-bottom: 1px solid $secondary-color;
                    @include md{
                        padding: 20px 0;
                    }
                    &__title{
                        padding: 0 0 0 10px;
                        @include md{
                            padding: 0 0 0 20px;
                        }
                        h4{
                            font-size: 1.2rem;
                            font-weight: 400;
                            margin: 35px 0;
                            @include md{
                                font-size: 1.8rem;
                            }

                        }
                    }
                    &__price{
                        display: flex; 
                        align-items: center;
                        justify-content: center;  
                        span{
                            font-size: 1rem;
                            color: rgba(247, 247, 247, 0.788);
                            @include md{
                                font-size: 1.4rem;
                            }
                            @include lg{
                                font-size: 1.6rem;
                            }
                        }
                    }
                }
                .double-col{
                    grid-template-columns: 50% repeat(2, 22%);
                    @include md{
                        grid-template-columns: 70% repeat(2, 15%);
                    }
                    grid-template-areas: "a b c";
                    .col{
                        h4{
                            font-size: .9rem;
                            font-weight: 600;
                            text-align: center;
                            @include md{
                                font-size: 1.3rem;
                            }
                            @include lg{
                                font-size: 1.5rem;
                            }
                        }
                        &:first-child{
                            grid-area: b;
                        }
                        &:nth-child(2){
                            grid-area: c;
                        }
                    }
                }
            }
        }
    }
}