@import './index.scss';

//Pages
@import './pages/Index.scss';
@import './pages/About.scss';
@import './pages/Articles.scss';
@import './pages/Menu.scss';


//Components

@import './components/Header.scss';
@import './components/Footer.scss';

body{
    font-family: $secondary-font;
}

body::-webkit-scrollbar {
    display: none;
}
  
body {
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

.content{
    min-height: 80vh;
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include lg{
        margin-top: 100px;
    }
}

.page-title{
    padding: 20px 0 20px 0 ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $secondary-color;
    overflow: hidden;
    z-index: 1;
    h1{
        font-family: $primary-font;
        color: $secondary-color;
        margin: 0;
        text-align: center;
        font-size: 2rem;
        @include md{
            font-size: 3rem;
        }
    }
}

h2{
    font-size: 1.3rem;
    font-family: $primary-font;
    @include md{
        font-size: 2rem;
    }
}


p{
    font-size: 1rem;
    font-weight: 400;   
    @include md{
        font-size: 1.2rem;
    }
    @include lg{
        font-size: 1.4rem;
    }
}