//Colors Definitions

$primary-color: #292929;
$secondary-color: #FBFBFB;
$red-color: #F53B21;
$yellow-color: #EFBA1A;
$green-color: #45C49C;

//Breakpoint Definitions

$screen-xl-min: 1323px;
$screen-lg-min: 1024px;
$screen-md-min: 768px;
$screen-sm-min: 576px;

//Font Definitions

$primary-font: "Genz";
$secondary-font: "Poppins";

